<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <!-- JavaScript -->
  <script defer src="/static/js/edit.js"></script>
  <script defer src="/static/js/common/common.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>
  <title>이것은 게시판</title>
</head>

<body>
  <%- include ('./partials/navbar.ejs') %>

    <main>
      <div class="wrap" id="postId" data-id="<%= post._id %>">
        <div class="title__container">
          <label for="">Title</label>
          <input type="text" id="input-title" value="<%= post.title %>">
        </div>
        <div class="title__container">
          <label for="">Author</label>
          <input type="text" id="input-author" value="<%= post.author%>" disabled>
        </div>
        <div class="comment__container">
          <label for="">Comment</label>
          <input type="text" id="input-comment" value="<%= post.text %>">
        </div>
        <div class="password__container">
          <label for="">password</label>
          <input type="text" id="input-password">
        </div>

        <button type="button" class="btn btn-secondary" id="submitUpdate">수정하기</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal">삭제하기</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">주의!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              정말 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" id="submitDelete">삭제하기</button>
            </div>
          </div>
        </div>
      </div>


    </main>
</body>

</html>